
.container {
    /* width: 1200px !important; */
    margin: 0 auto !important; 
}

#slide-01 img {
    /* width: 1077px !important;
    height: 230px !important; */
    width: 100%;
    font-size: 0 !important;
}

#slide-01 .title {
    /* width: 1077px !important;
    height: 230px !important;  */
    position: relative;
    text-align: center;
    font-size: 0 !important;
}

#slide-01 .play-btn {
    display: block;
    background: url('../images/01/play.png');
    width: 200px;
    height: 200px;
    background-size:contain;
    position: absolute !important;
    right: -200px;
    top :-100px;
}
.controls-arrow {
    color: #fff;
}

#slide-02 .f2 {
    position:absolute;
    left: 100px;
    top: -180px;
    z-index: 10;
    /* transform: scale(0.8) */
} 

#slide-02 .f1 {
    position:absolute;
    left: 200px;
    top: -150px;
    z-index: 100;
    /* transform: scale(0.8) */
} 

#slide-02 .f3{
    width:1000px;
    height:500px;
    position: absolute !important;
    z-index: 1;
}

.delay1 {
    animation-delay: 1s
}

.delay2 {
    animation-delay: 1.5s
}


.delay3 {
    animation-delay: 2s
}

.delay4 {
    animation-delay: 2.5s
}

.delay5 {
    animation-delay: 3s
}

.delay6 {
    animation-delay: 3.5s
}

.delay7 {
    animation-delay: 4s
}

.delay8 {
    animation-delay: 4.5s
}

.delay9 {
    animation-delay: 5s
}
.delay10 {
    animation-delay: 5.5s
}
.zoomOut {
    transform: scale(1.05);
    transition: transform .2s;
    opacity: 0.5;
}

.s8  {
    transform: scale(0.8)
}

.s5  {
    transform: scale(0.5)
}

@-webkit-keyframes rotate{
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
}

.rotate {
    animation-name: rotate;
    animation-duration:10s;
    animation-timing-function:linear;
    animation-delay:0s;
    animation-iteration-count:infinite;
    animation-direction:normal;
    animation-play-state:running;
}

.yesCase{
    width: 205px;
    height:205px;
    background:url("../images/02/4.png");
    background-size: contain;
    position: absolute !important;
    left: -190px;
    bottom: -750px;
}

.yesCaseOne{
    width:180px;
    height:180px;
    background:url("../images/02/3.png");
    background-size: contain;
    right:-200px;
    top:-80px;
    position: absolute !important;
}

.twoPosition{
    position: absolute;
    top: 221px;
}

.fb1{
    width:895px;
    height:297px;
    position: absolute;
    bottom: -605px;
    left: 220px;
}

.fb2{
    width:764px;
    height:227px;
    position: absolute;
    bottom: -342px;
    left: 186px;
}

.fb3{
    width:745px;
    height:196px;
    position: absolute;
    z-index: 9999;
    bottom: -202px;
    left: 154px;
}

#slide-03 .title {
    transform: scale(0.8);
    position: absolute;
    top: -120px;
    right: -100px;
}

#slide-03 .desc {
    position: absolute;
    right: -320px;
    top: 80px
}

#slide-03 .desc img {
    transform: scale(0.9);
}

#slide-03 .icon {
    transform: scale(0.8);
    position: absolute;
    right: -340px;
    bottom: -840px;
}

#slide-03 .btn {
    position: absolute;
    left: -360px;
}

#slide-03 .btn-1 {
    top :100px
}

#slide-03 .btn-2 {
    top :300px
}

#slide-03 .btn-3 {
    top :500px
}

#slide-05 .title {
    position: absolute;
    left: -350px;
    top: -100px;
}

#slide-05 .text-1 {
    position: absolute;
    left: -280px;
    top: 100px;
}

#slide-05 .text-3 {
    position: absolute;
    left: -180px;
    top: 600px;
}

#slide-05 .text-2 {
    position: absolute;
    right: -180px;
    top: 100px;
}

#slide-05 .text-4 {
    position: absolute;
    right: -180px;
    top: 600px;
}

#slide-05 .rotate-1 {
    position: absolute;
    top: 245px;
    left: 55px;
}

#slide-05 .rotate-2 {
    position: absolute;
    left: 145px;
    top: 75px;
}

#slide-05 .rotate-3 {
    position: absolute;
    left: 345px;
    top: 80px;
}

#slide-05 .rotate-4 {
    position: absolute;
    left: 420px;
    top: 170px;
}

.rotate-item {
    zoom: 1.5
}


#slide-08 .page-title img {
    position: absolute;
    left: 200px;
    top: 30px;
}

#slide-08 .text-1 {
    position: absolute;
    left: -150px;
    top: 60px;
}

#slide-08 .text-2 {
    position: absolute;
    left: -70px;
    top: 190px;
}

#slide-08 .text-3 {
    position: absolute;
    left: 10px;
    top: 320px;
}
#slide-08 .text-4 {
    position: absolute;
    left: 90px;
    top: 450px;
}

#slide-08 .text-5 {
    position: absolute;
    left: 170px;
    top: 580px;
}

#slide-08 .text-6 {
    position: absolute;
    left: 250px;
    top: 710px;
}

#slide-09 .page-title img {
    position: absolute;
    left: 200px;
    top: 30px;
}

#slide-09 .left {
    width: 731px;
    height: 800px;
    background: url('../images/09/2.png');
    text-align: center;
    position: absolute;
    left: -280px;
    top: 20px;
    overflow: hidden;
    /* zoom: 0.9 */
    /* zoom: 0.9 */
}
#slide-09 .left img {
    width: 722px;
    height: 730px;
    margin-top: 65px
}

#slide-09 .right {
    width: 730px;
    height: 800px;
    background: url('../images/09/4.png');
    text-align: left;
    position: absolute;
    left: 470px;
    top: 20px;
    /* zoom: 0.9 */
}
#slide-09 .right .imgs {
    margin-top: 65px;
    margin-left: 5px
}

#slide-09 .right img {
    display: inline-block;
    vertical-align: top;
}

.page-title {
    min-width: 1920px;
    height: 120px;
    background: url('../images/09/title.jpg') no-repeat;
    background-size: 100%;
    position: fixed;
    left:-50%;
    top: -120px;
}
.page-title img {
    position: absolute;
    left: 200px;
    top: 30px;
}

#slide-10 .f1 {
    width: 1200px;
    text-align: left;
    position: absolute;
    left: 50%;
    margin-left: -600px;
}

#slide-10 .f1 img{
    /* width: 1200px; */
    margin: 10px 20px
}
#slide-10 .title2{
    /* width: 1200px; */
   position: absolute;
   left: 50%;
   transform: translate(-50%);
   top: 200px;
}

#slide-10 .f2 {
    width: 1200px;
    text-align: left;
    position: absolute;
    left: 50%;
    margin-left: -600px;
    top: 300px;
}

#slide-10 .f2 > div{
   display: inline-block;
   width: 290px;
   vertical-align: top
}

#slide-10 .f2 > div .img1{
    height: 180px;
 } 

 #slide-14 .right  {
     position: absolute;
     top:-350%;
     right: -400px;
     z-index: 10;
 }

 #slide-14 .left  {
    position: absolute;
    top: 100px;
    left: -200px;
}

#slide-14 .left a {
    display: block;
    margin-bottom: 30px
}



/*----------------------------------------------------------------------*/
#slide-04 .an1{
    position: absolute;
    left: -300px;
}
#slide-04 .a1{
    top:-70px;
}
#slide-04 .a2{
    top:214px;
}
#slide-04 .an2{
    position: absolute;
    left: 440px;
}
#slide-04 .a3{
    top: -123px;
    left: 605px;
}
#slide-04 .a5{
    left: 586px;
    top: 185px;
}
#slide-04 .a6{
    left: 455px;
    top: 290px;
}
#slide-04 .a7{
    left: 650px;
    top: 300px;
}
#slide-04 .a8{
    left: 955px;
    top: 290px;
}
#slide-04 .a9{
    left: 1064px;
    top: 290px;
}
#slide-04 .a10{
    left: 766px;
    top: 290px;
}
#slide-06 .bg1{
    position: absolute;
    top: 610px;
    left: -300px;
}
#slide-06 .bg2{
    position: absolute;
    left: 691px;
    top: 345px;
}
#slide-06 .bg3{    position: absolute;
    left: 145px;
    top: 390px;
}
#slide-07 .btn{
    position: absolute;
    left: -423px;
}
#slide-07 .btn-1{
    top: 0px;
}
#slide-07 .btn-2{
    top: 145px;
}
#slide-07 .btn-3{
    top: 290px;
}
#slide-07 .btn-4{
    top: 435px;
}
#slide-07 .z5{
   zoom: 0.4
}
#slide-07 .fb5{
    position: absolute;
    right: -441px;
    top: -36px;
}
#slide-07 .fb4{
    position: absolute;
    right: -112px;
    top: 641px;
}
#slide-07 .fb3{
    position: absolute;
    left: 2638px;
    bottom: -1236px;
}
#slide-07 .fb2{
    position: absolute;
    left: 952px;
    top: 1339px;
}
#slide-07 .fb1{
    position: absolute;
    left: 29px;
    top: 800px;
}
.glow {
    animation-name: glow;
    animation-duration:0.5s;
    animation-timing-function:linear;
    animation-delay:0s;
    animation-iteration-count:infinite;
    animation-direction:normal;
    animation-play-state:running;
}
@-webkit-keyframes glow {
    0% {
      opacity: 0.9
    }    
    100% {
        opacity: 1
    }
}

#slide-11 .txt11{
    position: absolute;
    left:-380px;
}
#slide-11 .txt11-1{
    top: 36px;
}
#slide-11 .txt11-2{
    top: 267px;
}
#slide-11 .txt11-3{
    top: 500px;
}