
.container {
    /* width: 1200px !important; */
    margin: 0 auto !important; 
}

#slide-01 img {
    /* width: 1077px !important;
    height: 230px !important; */
    width: 100%;
    font-size: 0 !important;
}

#slide-01 .title {
    /* width: 1077px !important;
    height: 230px !important;  */
    position: relative;
    text-align: center;
    font-size: 0 !important;
}

#slide-01 .play-btn {
    display: block;
    background: url('../images/01/play.png');
    width: 200px;
    height: 200px;
    background-size:contain;
    position: absolute !important;
    right: -200px;
    top :-100px;
}
.controls-arrow {
    color: #fff;
}

.f2 {
    position:absolute;
    left: 100px;
    top: -180px;
    z-index: 10;
    /* transform: scale(0.8) */
} 

.f1 {
    position:absolute;
    left: 200px;
    top: -150px;
    z-index: 100;
    /* transform: scale(0.8) */
} 

.f3{
    width:1000px;
    height:500px;
    position: absolute !important;
    z-index: 1;
}

.delay1 {
    animation-delay: 1s
}

.delay2 {
    animation-delay: 1.5s
}


.delay3 {
    animation-delay: 2s
}

.delay4 {
    animation-delay: 2.5s
}

.delay5 {
    animation-delay: 3s
}

.delay6 {
    animation-delay: 3.5s
}

.delay7 {
    animation-delay: 4s
}

.zoomOut {
    transform: scale(1.05);
    transition: transform .2s;
    opacity: 0.5;
}

.s8  {
    transform: scale(0.8)
}

.s5  {
    transform: scale(0.5)
}

.yesCase{
    width: 205px;
    height:205px;
    background:url("../images/02/ 4.png");
    background-size: contain;
    position: absolute !important;
    left: -190px;
    bottom: -750px;
}

.yesCaseOne{
    width:180px;
    height:180px;
    background:url("../images/02/3.png");
    background-size: contain;
    right:-200px;
    top:-80px;
    position: absolute !important;
}

.twoPosition{
    position: absolute;
    top: 221px;
}

.fb1{
    width:895px;
    height:297px;
    position: absolute;
    bottom: -605px;
    left: 220px;
}

.fb2{
    width:764px;
    height:227px;
    position: absolute;
    bottom: -342px;
    left: 186px;
}

.fb3{
    width:745px;
    height:196px;
    position: absolute;
    z-index: 9999;
    bottom: -202px;
    left: 154px;
}

#slide-03 .title {
    transform: scale(0.8);
    position: absolute;
    top: -120px;
    right: -100px;
}

#slide-03 .desc {
    position: absolute;
    right: -320px;
    top: 80px
}

#slide-03 .desc img {
    transform: scale(0.9);
}


#slide-03 .icon {
    transform: scale(0.8);
    position: absolute;
    right: -340px;
    bottom: -840px;
}

#slide-03 .btn {
    position: absolute;
    left: -360px;
}

#slide-03 .btn-1 {
    top :100px
}

#slide-03 .btn-2 {
    top :300px
}

#slide-03 .btn-3 {
    top :500px
}