
.container {
    /* width: 1200px !important; */
    margin: 0 auto !important; 
}

#slide-01 img {
    /* width: 1077px !important;
    height: 230px !important; */
    width: 100%;
    font-size: 0 !important;
}

#slide-01 .title {
    /* width: 1077px !important;
    height: 230px !important;  */
    position: absolute;
    text-align: center;
    font-size: 0 !important;
    left: -350px;
    top: 110px;

}

#slide-01 .play-btn {
    display: block;
    background: url('../images/01/play.png');
    width: 500px;
    height: 500px;
    background-size:contain;
    position: absolute !important;
    left: 750px;
    top :-50px;
}
.controls-arrow {
    color: #31af43;
}

#slide-02 .f2 {
    position:absolute;
    left: 100px;
    top: -180px;
    z-index: 10;
    /* transform: scale(0.8) */
} 

#slide-02 .f1 {
    position:absolute;
    left: 200px;
    top: -150px;
    z-index: 100;
    /* transform: scale(0.8) */
} 

#slide-02 .f3{
    width:1000px;
    height:500px;
    position: absolute !important;
    z-index: 1;
}

.delay1 {
    animation-delay: 1s
}

.delay2 {
    animation-delay: 1.5s
}


.delay3 {
    animation-delay: 2s
}

.delay4 {
    animation-delay: 2.5s
}

.delay5 {
    animation-delay: 3s
}

.delay6 {
    animation-delay: 3.5s
}

.delay7 {
    animation-delay: 4s
}

.delay8 {
    animation-delay: 4.5s
}

.delay9 {
    animation-delay: 5s
}
.delay10 {
    animation-delay: 5.5s
}
.delay11 {
    animation-delay: 6s
}
.delay12 {
    animation-delay: 5.5s
}
.delay13 {
    animation-delay: 7s
}
.delay14 {
    animation-delay: 7.5s
}
.delay15 {
    animation-delay: 8s
}
.delay16 {
    animation-delay: 8.5s
}
.zoomOut {
    transform: scale(1.05);
    transition: transform .2s;
    opacity: 0.5;
}

.s8  {
    transform: scale(0.8)
}

.s5  {
    transform: scale(0.5)
}

@-webkit-keyframes rotate{
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
}

.rotate {
    animation-name: rotate;
    animation-duration:10s;
    animation-timing-function:linear;
    animation-delay:0s;
    animation-iteration-count:infinite;
    animation-direction:normal;
    animation-play-state:running;
}

#slide-02 .btn-1{
    left: -190px;
    top: 500px;
    position: absolute !important;
    zoom: 1.2
}

#slide-02 .btn-2{
    right:-200px;
    top:-80px;
    position: absolute !important;
    zoom: 1.2
}

.twoPosition{
    position: absolute;
    top: 221px;
}

.fb1{
    width:895px;
    height:297px;
    position: absolute;
    bottom: -605px;
    left: 220px;
}

.fb2{
    width:764px;
    height:227px;
    position: absolute;
    bottom: -342px;
    left: 186px;
}

.fb3{
    width:745px;
    height:196px;
    position: absolute;
    z-index: 9999;
    bottom: -202px;
    left: 154px;
}

#slide-03 .title {
    transform: scale(0.8);
    position: absolute;
    top: -120px;
    right: -100px;
}

#slide-03 .desc {
    position: absolute;
    right: -320px;
    top: 80px
}

#slide-03 .desc img {
    transform: scale(0.9);
}

#slide-03 .icon {
    transform: scale(0.8);
    position: absolute;
    right: -340px;
    bottom: -840px;
}

#slide-03 .btn {
    position: absolute;
    left: -360px;
}

#slide-03 .btn-1 {
    top :100px
}

#slide-03 .btn-2 {
    top :300px
}

#slide-03 .btn-3 {
    top :500px
}

#slide-05 .title {
    position: absolute;
    left: -350px;
    top: -100px;
}

#slide-05 .text-1 {
    position: absolute;
    left: -280px;
    top: 100px;
}

#slide-05 .text-3 {
    position: absolute;
    left: -180px;
    top: 600px;
}

#slide-05 .text-2 {
    position: absolute;
    right: -180px;
    top: 100px;
}

#slide-05 .text-4 {
    position: absolute;
    right: -180px;
    top: 600px;
}

#slide-05 .rotate-1 {
    position: absolute;
    top: 245px;
    left: 55px;
}

#slide-05 .rotate-2 {
    position: absolute;
    left: 145px;
    top: 75px;
}

#slide-05 .rotate-3 {
    position: absolute;
    left: 345px;
    top: 80px;
}

#slide-05 .rotate-4 {
    position: absolute;
    left: 420px;
    top: 170px;
}

.rotate-item {
    zoom: 1.5
}


#slide-08 .page-title img {
    position: absolute;
    left: 200px;
    top: 30px;
}

#slide-08 .text-1 {
    position: absolute;
    left: -150px;
    top: 60px;
}

#slide-08 .text-2 {
    position: absolute;
    left: -70px;
    top: 190px;
}

#slide-08 .text-3 {
    position: absolute;
    left: 10px;
    top: 320px;
}
#slide-08 .text-4 {
    position: absolute;
    left: 90px;
    top: 450px;
}

#slide-08 .text-5 {
    position: absolute;
    left: 170px;
    top: 580px;
}

#slide-08 .text-6 {
    position: absolute;
    left: 250px;
    top: 710px;
}

#slide-09 .page-title img {
    position: absolute;
    left: 200px;
    top: 30px;
}

#slide-09 .left {
    width: 731px;
    height: 800px;
    background: url('../images/09/2.png');
    text-align: center;
    position: absolute;
    left: -280px;
    top: 20px;
    overflow: hidden;
    /* zoom: 0.9 */
    /* zoom: 0.9 */
}
#slide-09 .left img {
    width: 722px;
    height: 730px;
    margin-top: 65px
}

#slide-09 .right {
    width: 730px;
    height: 800px;
    background: url('../images/09/4.png');
    text-align: left;
    position: absolute;
    left: 470px;
    top: 20px;
    /* zoom: 0.9 */
}
#slide-09 .right .imgs {
    margin-top: 65px;
    margin-left: 5px
}

#slide-09 .right img {
    display: inline-block;
    vertical-align: top;
}

.page-title {
    min-width: 1920px;
    height: 120px;
    background: url('../images/09/title.jpg') no-repeat;
    background-size: 100%;
    position: fixed;
    left:-50%;
    top: -120px;
}
.page-title img {
    position: absolute;
    left: 200px;
    top: 30px;
}

#slide-10 .f1 {
    width: 1200px;
    text-align: left;
    position: absolute;
    left: 50%;
    margin-left: -600px;
}

#slide-10 .f1 img{
    /* width: 1200px; */
    margin: 10px 20px
}
#slide-10 .title2{
    /* width: 1200px; */
   position: absolute;
   left: 50%;
   transform: translate(-50%);
   top: 200px;
}

#slide-10 .f2 {
    width: 1200px;
    text-align: left;
    position: absolute;
    left: 50%;
    margin-left: -600px;
    top: 300px;
}

#slide-10 .f2 > div{
   display: inline-block;
   width: 290px;
   vertical-align: top
}

#slide-10 .f2 > div .img1{
    height: 180px;
 } 

 #slide-14 .right  {
     position: absolute;
     top:-350%;
     right: -400px;
     z-index: 10;
 }

 #slide-14 .left  {
    position: absolute;
    top: 100px;
    left: -200px;
}

#slide-14 .left a {
    display: block;
    margin-bottom: 30px
}

/*------------------------------------------------------------------------------*/



/*----------------------------------------------------------------------*/
#slide-04 .an1{
    position: absolute;
    left: -300px;
}
#slide-04 .a1{
    top:-70px;
}
#slide-04 .a2{
    top:214px;
}
#slide-04 .an2{
    position: absolute;
    left: 440px;
}
#slide-04 .a3{
    top: -123px;
    left: 605px;
}
#slide-04 .a5{
    left: 586px;
    top: 185px;
}
#slide-04 .a6{
    left: 455px;
    top: 290px;
}
#slide-04 .a7{
    left: 650px;
    top: 300px;
}
#slide-04 .a8{
    left: 955px;
    top: 290px;
}
#slide-04 .a9{
    left: 1064px;
    top: 290px;
}
#slide-04 .a10{
    left: 766px;
    top: 290px;
}
#slide-06 .bg1{
    position: absolute;
    top: 410px;
    left: -300px;
}
#slide-06 .bg2{
    position: absolute;
    left: 691px;
    top: 145px;
}
#slide-06 .bg3{    
    position: absolute;
    left: 145px;
    top: 190px;
}
#slide-07 .btn{
    position: absolute;
    left: -423px;
}
#slide-07 .btn-1{
    top: 0px;
}
#slide-07 .btn-2{
    top: 145px;
}
#slide-07 .btn-3{
    top: 290px;
}
#slide-07 .btn-4{
    top: 435px;
}
#slide-07 .z5{
   zoom: 0.4
}
#slide-07 .fb5{
    position: absolute;
    right: -441px;
    top: -36px;
}
#slide-07 .fb4{
    position: absolute;
    right: -112px;
    top: 641px;
}
#slide-07 .fb3{
    position: absolute;
    left: 2638px;
    bottom: -1236px;
}
#slide-07 .fb2{
    position: absolute;
    left: 952px;
    top: 1339px;
}
#slide-07 .fb1{
    position: absolute;
    left: 29px;
    top: 800px;
}
.glow {
    animation-name: glow;
    animation-duration:0.5s;
    animation-timing-function:linear;
    animation-delay:0s;
    animation-iteration-count:infinite;
    animation-direction:normal;
    animation-play-state:running;
}
@-webkit-keyframes glow {
    0% {
      opacity: 0.9
    }    
    100% {
        opacity: 1
    }
}

#slide-11 .txt11{
    position: absolute;
    left:-380px;
}
#slide-11 .txt11-1{
    top: 36px;
}
#slide-11 .txt11-2{
    top: 252px;
}
#slide-11 .txt11-3{
    top: 469px;
}
#slide-11 .txt11-4{
    position: absolute;
    top: 36px;
    left: -350px;
}
#slide-11 .txt11-5{
    position: absolute;
    left: 1239px;
    top: 124px;
}
.page-title .txt-11 {
    position: absolute;
    left: 100px;
    top: 30px;
}
#slide-11 .txt11_abs{
    position: absolute;top:650px;
}
#slide-11 .txt11-6{
    left: -195px;
}
#slide-11 .txt11-7{
    left: 290px;
}
#slide-11 .txt11-8{
    left: 843px;
    width: 478px;
    height: 49px;
}
#slide-11 .txt11-9{
    position: absolute;
    top: 715px;
    left: -487px;
}
#slide-11 .txt11-10{
    position: absolute;
    top:750px;left: -300px;
}
#slide-11 .txt11-11{
    position: absolute;
    top: 721px;
    left: -60px;
}
#slide-11 .txt11-12{
    position: absolute;
    top: 760px;
    left: 280px;
}

#slide-11 .txt11-13{
    position: absolute;
    top: 760px;
    left: 656px;
}
#slide-11 .txt11-14{
    position: absolute;
    top: 724px;
    left: 1070px;
}
#slide-11 .txt11-15{
    position: absolute;
    top: 782px;
    left: -80px;
}
#slide-12 .txt12-1{
    position: absolute;
    top: -311px;
    right: -327px;
}
#slide-12 .txt12-2{
    position: absolute;
    top: 374px;
    right: -379px;
}
#slide-12 .txt12-3{
    position: absolute;
    left: -617px;
    top: 267px;
}
#slide-13 .txt13-2{
    position: absolute;
    left: -200px;
    top: 7px;
    height:480px;
}

#slide-13 .txt13-3{
    position: absolute;
    top: 510px;
    left: -152px;
}
#slide-13 .txt13-4{
    position: absolute;
    top: 545px;
    left: 49px;
}
#slide-13 .txt13-5{
    position: absolute;
    top: 545px;
    left: 84px;
}
#slide-13 .txt13-6{
    position: absolute;
    top: 545px;
    left: 636px;
}
#slide-13 .txt13-7{
    position: absolute;
    top: 650px;
    left: 353px;
}
#slide-13 .txt13-box{position: absolute;}
.flips{display: block;}
.panel{display: none;position: absolute;z-index: 9999;}

.mask {
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.7);
    z-index: 999;
    display: none;
}
.mask img{
    display: block;
    position: absolute;
    left:50%;
    top: 50%;
    margin-left: -604px;
    margin-top: -261px; 
}
.z-index{z-index: 99;}
/**---------------------15-----------------------*/

#slide-15 .text {
    width: 1800px;
    position: absolute;
    left: 50%;
    margin-left: -900px;
}

#slide-15 .product {
    width: 1800px;
    position: absolute;
    left: 50%;
    margin-left: -900px;
    top: 300px;
}

#slide-15 .product > div{ 
    display: inline-block;
    text-align: center
}

#slide-15 .title{
    left: 100px;
}

#slide-16 .text {
    width: 1700px;
    position: absolute;
    left: 50%;
    top: 60px;
    margin-left: -850px;
    text-align: left;
}

#slide-16 .product {
    width: 1800px;
    position: absolute;
    left: 50%;
    margin-left: -900px;
    top: 240px;
}

#slide-16 .product > div{ 
    display: inline-block;
    text-align: center
}

#slide-16 .title{
    left: 100px;
}

#slide-17 .text{
   text-align: left;
   position: absolute;
   left: -150px;
   top: 40px;
}

#slide-17 .product{
    position: absolute;
    width: 1400px;
    left: -200px;
    top: 300px;
    display: -webkit-box
 }

 #slide-17 .product > div {
   flex: 1;
 }

 #slide-17 .product .left {
    margin-right: 40px
}

#slide-17 .pro {
    position: absolute;
    width: 1400px;
    left: -200px;
    top: 140px;
    text-align: left !important;
}

#slide-17 .a2 {
    position: relative;
    left: -5px;
}

#slide-17 .a3 {
    position: relative;
    left: -12px;
}

#slide-17 .title{
    left: 100px;
}

#slide-18 .right  {
    position: absolute;
    top: -180px;
    right: -400px;
    z-index: 10;
}

#slide-18 .left  {
   position: absolute;
   top: 100px;
   left: -200px;
}

#slide-18 .text {
    margin-top: 60px;
}

#slide-18 .left a {
   display: block;
   margin-bottom: 30px
}

#slide-19 .left {
    position: absolute;
    left: -200px;
    top: 0px;
 }

 #slide-19 .right {
    position: absolute;
    left: 550px;
    top: 20px;
 }

 #slide-19 .title2 {
     text-align: left
 }

 #slide-19 .desc {
   display: inline-block;
   width: 400px;
   height: 270px;
   margin-top: 30px;
   overflow: hidden;
 }

 #slide-19 .desc img{
    margin-top: 10px;
  }

 #slide-19 .product {
     /* width: 60px; */
     text-align: left;
 }
 #slide-19 .product .item > img {
    display: inline-block;
    vertical-align: bottom;
  }

 #slide-19 .pics {
     margin: 20px 0
 } 
/**-----------------20---------------------------*/


#slide-20 .left {
    position: absolute;
    left: -200px;
    top: 0px;
 }

 #slide-20 .right {
    position: absolute;
    left: 550px;
    top: 20px;
 }

 #slide-20 .title2 {
     text-align: left
 }

 #slide-20 .item {
   display: inline-block;
   width: 800px;
   height: 270px;
   overflow: hidden;
   text-align: left;
 }

 #slide-20 .item .desc{
    display: inline-block;
    vertical-align: top;
    margin-top: 40px;
    margin-left: 30px;
  }

#slide-20 .pics{
   text-align: left
}

#slide-20 .list{
    text-align: left;
    margin-top: 40px;
 }


 #slide-21 .right  {
    position: absolute;
    top: -180px;
    right: -400px;
    z-index: 10;
}

#slide-21 .left  {
   position: absolute;
   top: 100px;
   left: -200px;
}

#slide-21 .text {
    margin-top: 60px;
}

#slide-21 .left a {
   display: block;
   margin-bottom: 30px
}

#slide-22 .left {
    position: absolute;
    top: 150px;
    left: -200px;
}

#slide-22 .text {
    position: absolute;
    top: 100px;
    left: 300px;
}

#slide-22 .product {
    position: absolute;
    top: 100px;
    left: 750px;
}

#slide-23 .main {
    position: absolute;
    top: 200px;
    width: 295px;
    left: 50%;
    transform: translate(-50%)
}

#slide-23 .img1 {
    position: absolute;
    left: -200px;
    top: 100px;
    z-index: 2;
}
#slide-23 .img2 {
    position: absolute;
    left: -200px;
    top: 330px;
    z-index: 2;
}
#slide-23 .img3 {
    position: absolute;
    left: -200px;
    top: 540px;
    z-index: 2;
}
#slide-23 .img4 {
    position: absolute;
    left: 550px;
    top: 80px;
    z-index: 2;
}
#slide-23 .img5 {
    position: absolute;
    left: 260px;
    top: 50px;
    z-index: 2;
}
#slide-23 .img6 {
    position: absolute;
    left: 700px;
    top: 500px;
    z-index: 2;
}

#slide-23 .title2 {
    text-align: left;
    position: absolute;
    left: -200px;
}

#slide-24 .left {
    position: absolute;
    left: -200px;
    top: 100px;
}

#slide-24 .top {
    position: absolute;
    top: 50px;
    left: 200px;
}


#slide-24 .center {
    position: absolute;
    top: 200px;
    left: 200px;
}

#slide-24 .right {
    position: absolute;
    top: 150px;
    left: 850px;
}

#slide-24 .a6 {
    position: absolute;
    top: 220px;
    left: 0px;
}

#slide-25 .right  {
    position: absolute;
    top: -180px;
    right: -400px;
    z-index: 10;
}

#slide-25 .left  {
   position: absolute;
   top: 100px;
   left: -200px;
}

#slide-25 .text {
    margin-top: 60px;
}

#slide-25 .left a {
   display: block;
   margin-bottom: 30px
}

#slide-26 .top {
    position: absolute;
    left: -200px
}

#slide-26 .left {
    position: absolute;
    left: -200px;
    top: 150px;
}

/* #slide-26 .left {
    position: absolute;
    left: -200px;
    top: 150px;
} */

#slide-26 .left .a3 {
    position: absolute;
    top :0px;
    left:100px;
}

#slide-26 .left .a4 {
    position: absolute;
    top :400px;
    left: -100px;
}

#slide-26 .right .a6 {
    position: absolute;
    top :450px;
    left: 800px;
}

#slide-26 .bottom .a5 {
    position: absolute;
    top : 720px;
    left: 250px;
}
#slide-26 .right .a7 {
    position: absolute;
    top :150px;
    left: 750px;
}

#slide-26 .center {
    position: absolute;
    top: 150px;
    left: 150px;
}

#slide-27 .left {
    position: absolute;
    top: 120px;
    left: -200px;
}

#slide-27 .left img{
   display: block;
   margin-bottom: 10px
}

#slide-27 .right img{
    display: block;
    margin-bottom: 10px
 }

#slide-27 .right {
    position: absolute;
    top: 120px;
    left: 540px;
}

#slide-27 .top {
    position: absolute;
    left: -200px;
}
#slide-27 .bottom {
    position: absolute;
    top:820px;
}

#slide-27 .center {
    position: absolute;
    top: 280px;
    left: 320px;
    z-index: 10
}

/*-----------------------------------------------------*/
#slide-28 .txt28-1{
    position: absolute;
    left: -300px;
    top: 114px;
}
#slide-28 .txt28-2{
    position: absolute;
    left: 550px;
    top: 190px;
}
#slide-28 .txt28-3{
    position: absolute;
    left: 550px;
    top: 385px;
}
#slide-28 .txt28-4{
    position: absolute;
    left: 550px;
    top: -200px;
}
#slide-28 .txt28-5{
    position: absolute;
    left: 550px;
    top: -113px;
}
#slide-29 .txt29-1{
    position: absolute;
    left: -300px;
    top: 200px;
}
#slide-29 .txt29-2{
    position: absolute;
    left: 550px;
    top: -100px;
}
#slide-29 .txt29-3{
    position: absolute;
    left: 577px;
    top: 0px;
}
#slide-29 .txt29-4{
    position: absolute;
    left: 577px;
    top: 211px;
}
#slide-29 .txt29-5{
    position: absolute;
    top: 200px;
    left: 870px;
}
#slide-29 .txt29-6{
    position: absolute;
    top: 462px;
    left: 570px;
}
#slide-29 .txt29-7{
    position: absolute;
    top: 462px;
    left: 814px;
}/*-------------32-------------------*/

.hide {
    display: none;
}

#slide-30 .left {
    position: absolute;
    left: -400px;
    top: 40px;
    width: 400px;
}

#slide-30 .left a {
   display: inline-block;
   height: 120px;
}

#slide-30 .btn-1 {
   position: absolute;
   top: 20px;
   left: 0;
 }

 #slide-30 .btn-2 {
    position: absolute;
   top: 160px;
   left: 0;
 }

 #slide-30 .btn-3 {
    position: absolute;
   top: 300px;
   left: 0;
 }

 #slide-30 .btn-4 {
    position: absolute;
    top: 440px;
    left: 0;
 }
#slide-30 .btn-5 {
    position: absolute;
    left: 1200px;
    top: -100px;
    zoom: 0.7
 }

#slide-30 .btn-6 {
    position: absolute;
    left: 1400px;
    top: 220px;
    zoom: 0.7

 }

 #slide-30 .btn-7 {
    position: absolute;
    left: 1150px;
    top: 500px;
    zoom: 0.7

 }

#slide-31 .bg {
    position: absolute;
    left: -150px;
}


#slide-31 .f1 {
    position: absolute;
    left: 100px;
    top:0
}

#slide-31 .f2 {
    position: absolute;
    left: 60px;
    top:0;
    text-align: left;
    width: 100%
}

#slide-31 .f2 img{
    overflow: hidden;
    margin:0;
    padding: 0;
    font-size: 0 !important;
    /* width: 100% */
}

#slide-31 .a1{
    position: absolute;
    left: 40px;
    top: 280px
}
#slide-31 .a2{
    position: absolute;
    left: 200px;
    top: 245px
}
#slide-31 .a3{
    position: absolute;
    left: 385px;
    top: 200px
}

#slide-31 .a4{
    position: absolute;
    left: 560px;
    top: 150px
}
#slide-31 .a5{
    position: absolute;
    left: 740px;
    top: 115px
}

#slide-31 .a6{
    position: absolute;
    left: 908px;
    top: 95px
}

#slide-32  .tu1{
    position: absolute;
    left: -150px;
    top: 52px;
}
#slide-32  .tu2{
    position: absolute;
    left: 350px;
    top: 52px;
}
#slide-32  .tu3{
    position: absolute;
    left: 821px;
    top: 52px;
}
#slide-32  .tu4{
    position: absolute;
    left: -200px;
    top: 420px; 
}
#slide-32 .tu5{
    position: absolute;
    left: -115px;
    top: 609px;
}
#slide-32 .tu6{
    position: absolute;
    left: 385px;
    top: 609px;
}
#slide-32 .tu7{
    position: absolute;
    left: 862px;
    top: 609px;
}

#slide-32 .tu8{
    position: absolute;
    left: -115px;
    top: 853px;
}
#slide-32 .tu9{
    position: absolute;
    left: 385px;
    top: 853px;
}
#slide-32 .tu10{
    position: absolute;
    left: 862px;
    top: 853px;
}
#slide-33 .txt1{
    position: absolute;
    left: 0;
    top: 443px;
}
#slide-33 .txt2{
    position: absolute;
    left: -409px;
    top: 344px;
}
#slide-33 .txt3{
    position: absolute;
    left: -396px;
    top: 100px;
}
#slide-33 .txt4{
    position: absolute;
    left: 149px;
    top: 100px;
}
#slide-33 .txt5{
    position: absolute;
    left: 275px;
    top: 367px;
}
#slide-33 .txt6{
    position: absolute;
    left: -411px;
    top: 670px;
}
#slide-33 .txt7{
    position: absolute;
    left: 149px;
    top: 670px;
}
#slide-33 .txt8{
    position: absolute;
    left: 817px;
    top: 100px;
}

#slide-34 .txt1{
    position: absolute;
    left: -240px;
    top: 103px;
}
#slide-34 .txt2{
    position: absolute;
    left: -240px;
    top: 303px;
}
#slide-34 .txt3{
    position: absolute;
    left: -240px;
    top: 503px;
}
#slide-34 .txt4{
    position: absolute;
    left: -240px;
    top: 703px;
}
#slide-34 .txt5{
    position: absolute;
    left: -187px;
    top: 38px;
}
#slide-34 .txt6{
    position: absolute;
    left: -85px;
    top: 124px;
}

#slide-35 .txt1{
    position: absolute;
    left: -166px;
    top: 204px;
}
#slide-35 .txt2{
    position: absolute;
    left: -105px;
    top: 70px;
}
#slide-35 .txt3{
    position: absolute;
    left: 86px;
    top: 25px;
}
#slide-35 .txt4{
    position: absolute;
    left: 217px;
    top: 280px;
}
#slide-35 .txt5{
    position: absolute;
    left: 195px;
    top: 480px;
}
#slide-35 .txt6{
    position: absolute;
    left: 136px;
    top: 668px;
}
#slide-35 .txt7{
    position: absolute;
    left: -31px;
    top: 732px;
}
#slide-35 .txt8{
    position: absolute;
    left: -231px;
    top: 632px;
}
#slide-35 .txt9{
    position: absolute;
    left: -326px;
    top: 414px;
}
#slide-35 .txt10{
    position: absolute;
    left: -245px;
    top: 214px;
}
#slide-35 .txt11{
    position: absolute;
    left: 477px;
    top: 214px;
}

#slide-36 .txt1{
    position: absolute;
    left: -366px;
    top: 204px;
}
#slide-36 .txt2{
    position: absolute;
    left: 334px;
    top: 36px;
}
#slide-37 .txt1{
    position: absolute;
    left: -400px;
    top: 46px;
}




